*
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    font-size: 20px;  
}

h1, h2, h3, h4, h5, h6
{
    font-family: monospace;
    font-weight: 600;
    background-color: black;
    color : white;
}

li
{
    background-color: rgb(50, 50, 50);
    color : darkgray;
}

